<div class="d-flex justify-content-center p-4">
  <form
    class="w-50 pt-5"
    novalidate="true"
    [formGroup]="postGarbageForm"
    (submit)="onSubmit()"
  >
    <nav>
      <a routerLink="" class="btn btn-outline-secondary w-25 mb-5">Back</a>
    </nav>
    <div class="row gx-3 gy-2 align-items-center">
      <div class="input-group w-50">
        <label class="input-group-text is-invalid">Name</label>
        <input
          class="form-control form-control-lg"
          type="text"
          formControlName="name"
        />
      </div>
      <div class="input-group w-50">
        <label class="input-group-text">Link</label>
        <input
          class="form-control form-control-lg"
          type="text"
          formControlName="link"
        />
      </div>
    </div>
    <div class="mb-3 mt-4">
      <div class="input-group w-100">
        <label class="input-group-text">Comment</label>
        <textarea
          class="form-control"
          formControlName="comment"
          rows="4"
          maxlength="200"
          style="resize: none"
        ></textarea>
      </div>
      <p class="text-secondary">max 200 simbols</p>
    </div>
    <div>
      <div
        class="d-flex align-items-center justify-content-center"
        formArrayName="tags"
        *ngFor="let tag of formsControl['controls']; let i = index"
      >
        <label class="p-3">Tag: </label>
        <input
          class="form-control form-control-lg w-50"
          type="text"
          formControlName="{{ i }}"
        />
        <button
          [ngClass]="{ 'd-none': countOfTags >= 4 || i != 0 }"
          type="button"
          class="btn btn-default"
          (click)="addTag()"
        >
          +
        </button>
        <button
          type="button"
          [ngClass]="{ 'd-none': countOfTags < 4 && i === 0 }"
          class="btn btn-default"
          (click)="removeTag(i)"
        >
          -
        </button>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-outline-secondary w-25">
        Submit
      </button>
    </div>
  </form>
  <div class="w-50 text-center">
    <img src="../../../assets/mainImg.png" alt="img" class="w-75" />
  </div>
</div>
