<div class="container-fluid p-0">
  <app-header></app-header>
  <div class="d-flex flex-row align-items-start p-1 pt-5 pb-5">
    <div *ngIf="isLoading">hiiiiiiiii</div>
    <div *ngIf="!isLoading" class="d-flex flex-column-reverse w-50">
      <app-garbage-item
        *ngFor="let item of garbageItems"
        [item]="item"
        (deleteItem)="removeItem($event)"
        (updateItem)="updateItem($event)"
      >
      </app-garbage-item>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center w-50 fixed-top start-50 pt-2 mt-5"
    >
      <img src="../assets/mainImg.png" alt="img" class="w-75" />
      <nav>
        <a
          routerLink="/form"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="btn btn-secondary pt-3 pb-3"
          >CREATE NEW GARBAGE</a
        >
      </nav>
    </div>
  </div>
</div>
