body {
  min-height: 100%;
  background-color: #80ced6;
}
h2,
h3,
h4,
h5 {
  color: #50394c;
  max-width: 100%;
  margin: 0;
}
input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid{
  border: 2px solid red;
}
input.ng-valid,
textarea.ng-valid{
  border: 2px solid green;
}
